body {
  background-image: url("images/Gray.jpeg");
}

header {
  background-image: url("images/HK.jpeg");
  border-radius: 20%;
  background-position: center;
}

 .for-padding {
  padding: 10px;
 }

header h1 {
  font-family: "Arial";
  text-align: center;
}

.individual {
  text-align: center;
}

.h2 {
  font-family: "Comic Sans MS";
  border: navy solid 3px;
  display: inline-block;
  padding: 10px;
  background-color: lightblue;
}

section {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.broad {
  display: flex;
  flex-direction: column;
}

.entity-double {
  flex: 2;
}

img {
  margin: 25px 0px;
  width: 100%;
}

.entity-link:link { color:navy; }
.entity-link:visited { color:purple; }
.entity-link:hover { color:darkred; }
.entity-link:active { color: peru; }

.just-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

form {
  align-items: center;
  background-color: gray;
  padding: 15px;
}

.item {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.extra {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.massage {
  margin-right: 5px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav li {
  list-style-type: none;
  border: 2px solid #fff;
  background-color: lightgray;
  border-radius: 15%;
  padding: 5px;
}

a:link { color:blue; }
a:visited { color:purple; }
a:hover { color:greenyellow; }
a:active { color: green; }

.buttons {
  display: flex;
  justify-content: center;
  margin-left: 38px;
}

@media all and (min-width: 800px) {

  header .for-padding .header-item1 h1 {
    margin-right: 10px;
    color: #F7B32B;
  }

  .day {
    background-color: #A9E5BB;
    border-radius: 15%;
    border: 2px solid #FCF6B1;
  }

  .broad {
    flex-direction: row;
  }

  .center {
    text-align: center;
    margin-bottom: 50px;
  }

  section {
    margin-right: auto;
    margin-left: auto;
  }

  p {
    font-size: 20px;
    margin: 50px;
  }

  .two {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
  }

  .links, form {
    align-items: center;
    justify-content: center;
  }

  .for-padding {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  } 

  .header-item1 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header-item2 nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}